NODE_ENV=development
NODE_PORT=8081
JWT_SECRET=0a6b944d-d2fb-46fc-a85e-0295c986cu45
DB_USER =usuario
DB_PASSWORD =password
DB_SERVER =0.0.0.0
DB_DATABASE =Nombre_BaseDeDatos
DB_USER_USER = usuario
DB_USER_PASSWORD = password
DB_USER_SERVER = 0.0.0.0
DB_USER_DATABASE = 0.0.0.0
